:root {
    --primary: #FF850A;
    --site-border: #CC6A08;
    --main-background: #0F1229;
    --aside-background: #FFFFFF;
    --white-text: #FFFFFF;
    --grey-text: #707070;
    --faded-text: #CCCCCC;
}

html {
    font-size: 16px;
    font-family: 'Montserrat';
}

body {
    background-color: var(--site-border);
}

container {
    display: grid;
    grid-template-areas:
        "aside main main"
        "aside main main"
        "aside main main";
    height: calc(100vh - 16px);
}

/***LANDING PAGE STYLING***/


aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--aside-background);
    grid-area: aside;
    grid-column-start: 1;
}

nav {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    margin: 1rem 0;
    color: var(--grey-text);
    font-size: 2rem;
    margin: 1rem 0rem;
}

a {
    text-decoration: none;
}

/**STYLING FOR MAIN SECTIONS**/

main {
    grid-area: main;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--white-text);
    background-color: var(--main-background);
}

main h1 {
    text-align: center;
    line-height: 4rem;
    font-size: 3rem;
}

main div {
    max-width: 40rem;
}
